﻿
.docBookTitle, .docPartTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:x-large; line-height:118%; font-weight:bold; }
.docPrefaceTitle, .docAppendixTitle, .docChapterTitle, .docBibliographyTitle, .docArticleTitle, .docGlossaryTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:x-large; font-weight:bold; }
.docSidebarTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:medium; font-weight:bold; line-height:24pt; }
.docSection1Title, .docBibliodivTitle, .docBridgehead
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:large; font-weight:bold; }
.docSection2Title, .docBibliosetTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:medium; font-weight:bold; }
.docSection3Title, .docSection4Title, .docSection5Title, 
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:small; font-weight:bold; }

.docFigureTitle, .docTableTitle, .docExampleTitle, .docTocTitle, .docAbstractTitle, .docQandasetTitle, .docProcTitle, .docRefsectTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:small; font-weight:bold; }


/* -- .docText and .docList were using identical styles causing nesting issues -- */

.docText
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:x-small; }
.docList
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:x-small; }

/* Disabled for font sizes	
.docList ol
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:small; }
.docList li
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:small; }
.docList p
	{ font-size:small; }
.docList table
	{ font-size:small; }
.docList h5
	{ font-size:small; }
.docList pre
	{ font-size:small; }
.docList h2
	{ font-size:100%; }
*/ 

.docMonofont
	{ color:#790029; font-family:"Andale Mono", "Courier New", Courier, monospace; }

.docTableHeader, .docTableCell
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:small; }
.docTableFooter
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:xx-small;  }

.docRefCell
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:medium; }

.docTextHighlight
	{ background-color:#FFEE99; color:#CC0000; }
.docIndexterm
	{ color:#333333; font-size:x-small; }

.docFootnote { color:#666666; font-size:xx-small; }
	
.docItemizedlist
	{ font-family:Verdana,Arial,Helvetica,sans-serif; font-size:xx-small}


.docNote
	{ blockquote margin-top:2em; margin-right:2em; margin-bottom:2em; margin-left:2em; }


.docNoteTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:small; font-weight:bold; }
.docNormalTitle, .docTipTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#333333; font-size:small; font-weight:bold; }
.docCautionsTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#CC0000; font-size:small; font-weight:bold; }


.docLink
	{ color:#003399; }
.docLink:visited
	{ color:#3366CC; }
.docLink:hover
	{ color:#000033; }


.docEmphasis
	{ font-style:italic; }
.docEmphBold, .docEmphStrong
	{ font-weight:bold; }
.docEmphGray
	{ color:#999999; }
.docEmphMark
	{ background-color:#999999; }
.docEmphRev
	{ color:#FFFFFF; background-color:#666666; }
.docEmphStrike
	{ text-decoration:line-through; }
.docEmphUl, .docEmphCursor
	{ border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#000000;}
.docEmphBoldItalic
	{ font-style:italic; font-weight:bold; }
.docEmphRoman
	{ font-style:normal; text-decoration:none; text-transform:none; font-weight:normal; font-variant:normal; }
.docEmphSmaller
	{ font-size:smaller; }
.docEmphHyperlink
	{ color:black; }
.docEmphRomanAlt 
	{ font-family:'Times New Roman',Times,serif; font-size:95%; }
.docEmphBoldAlt 
	{ font-family:'Times New Roman',Times,serif; font-weight:bold; font-size:95%; }
.docEmphItalicAlt 
	{ font-family:'Times New Roman',Times,serif; font-style:italic; font-size:95%; }
.docBibliomixedTitle
	{ }


.docCaps
	{ text-transform:uppercase; }

.docStructname
	{ font-variant:small-caps; }

.docPubcolor
	{ color:#333333; }




h1, h2, h3, h4, h5, h6 { color:#333333; }
 
pre { color:#790029; font-family:"Andale Mono", "Courier New", Courier, monospace; font-size:x-small; }

tt { color:#790029; font-family:"Andale Mono", "Courier New", Courier, monospace; font-size:90%; }  /* changed from font-size:x-small, to allow appropriate scaling within titles */

